<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="shortcut icon" href="static/logo.ico">

<head>
    <!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
</head>

<body>
<br><br><br><br><br><br>

	<div class="container valign center-align">
		<i class="large material-icons"> dashboard </i><h1 class = "blue-grey-text lighten-2"><b>Trumped</b></h1>
		<div class = "row">
			<h3><p><a href="{{ url_for('userRegister') }}" class="button-border hoverable waves-effect waves-light btn-large amber accent-2 black-text"><b>Register </b></a>
			<a href="{{ url_for('login') }}" class="button-border hoverable waves-effect waves-light btn-large amber accent-2 black-text">Login</a>
			<a href="{{ url_for('viewNews') }}" class="button-border hoverable waves-effect waves-light btn-large amber accent-2 black-text"> <b> News </b></a></p>
			</h3>
		</div>
	</div>

	</header>

	<div class = "footer">
		<br>
		<br>
		<br>
		<br>
		<br>
		<p class = "black-text">© October 2019 <b>NSV, KJHack</b></p>
	</div>

</body>
</html>
