{% extends "layout.html" %}
{% block content %}

<html itemscope itemtype="http://schema.org/Article">
<body>
    <br>
    <div class="logPage valign col s12 center-align transparent">
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="amber-text lighten-3">Publisher: <br><b>Log In</b></h3>
                <b><hr></b>
                <br>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control white form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control white form-control-lg") }}
                    {% endif %}
                </div>
                <br>

                <div class="form-group">
                    {{ form.submit(class="button-border hoverable waves-effect waves btn-large white-text ") }}
                </div>

                <hr>
                <small class="text-muted">
                    Don't have an account? <a class="ml-2" href="{{ url_for('userRegister') }}">Register now</a>
                </small>
            </fieldset>
        </form>
    </div>

</body>
</html>
{% endblock content %}
