<!DOCTYPE html>
<html>
<title>Pay Trumped</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
  <br><br><br><br><br><br><br><br><br><br><br>
  <div class="container valign center-align">
    <div>
      <button class="pay-button button-border hoverable waves-effect waves-light btn-large amber accent-2 black-text"><h6><b>Pay <i>Trumped</i></b></h6></button>
      <div id="status"></div>
    </div>
    <script type="text/javascript">
      window.addEventListener('load', async () => {
        if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          try {
            await ethereum.enable();
            initPayButton()
          } catch (err) {
            $('#status').html('Account access denied', err)
          }
        } else if (window.web3) {
          window.web3 = new Web3(web3.currentProvider)
          initPayButton()
        } else {
          $('#status').html('No Metamask or other Web3 Provider installed')
        }
      })
      const initPayButton = () => {
        $('.pay-button').click(() => {

          const paymentAddress = '0x7A5237b1975406F7B7ED4Da82b9221328B7eEa8D'// trumped's wallet
          const amountEth = 3
          web3.eth.sendTransaction({
            to: paymentAddress,
            value: web3.toWei(amountEth, 'ether')
          }, (err, transactionId) => {
            if  (err) {
              console.log('Payment failed', err)
              $('#status').html('Payment failed')
            } else {
              console.log('Payment successful', transactionId)
              $('#status').html('<br><br><a href="{{ url_for('publish') }}" class="button-border hoverable waves-effect waves-light btn-large amber accent-2 black-text">Publish</a>')
            }
          })
        })
      }
    </script>
  </div>

  <div class = "footer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class = "yellow-text">© October 2019 <b>NSV, KJHack</b></p>
  </div>
  
</body>
</html>