{% extends "layout.html" %}
{% block content %}
<hr>
      <div class="row valign wrapper">
        <div class="col s4">
          <h3 class="account-heading black-text"><b>Welcome, </b>{{ user.name }}<br>
        </div>
      </div>

    <div class = "dim card amber accent-2 hoverable col s12">
        <form method="POST" action="/publish" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h4 class="brown-text-text darken-1"><b>Title of your article </b></h4>
                <div class="form-group">
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <h4 class = "brown-text darken-1">By </h4>
                    {% if form.author.errors %}
                        {{ form.author(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.author.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.author(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <h4 class = "brown-text darken-1">Article</h4>
                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <hr>

                <hr>

            </fieldset>
            <div class="form-group valign center-align">
                <b> {{ form.post(class="button-border hoverable waves-effect waves-light btn-large brown darken-1 white-text") }} </b>
            </div>
        </form>
    </div>
    </div>
{% endblock content %}
