{% extends "layout.html" %}
{% block content %}

<body>
<br><br><br><br>

	<div class="dim center-align">
		<h2 class = "white-text lighten-3">CATEGORIZE</h2>
		<div class = "row valign center-align">
			<h4><p><a href="{{ url_for('viewList', type='world') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>World</b></a>
			<a href="{{ url_for('viewList', type='business') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Business</b></a>
			<a href="{{ url_for('viewList', type='health') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Health</b></a>
			<a href="{{ url_for('viewList', type='sci_tech') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Sci-Tech</b></a>
			</p></h4>
		</div>
		<hr>
		<div class = "dim card amber accent-2 hoverable col s12">
			<span class="black-text"><h5>Select a category. Be assured of authenticity.</h5></span>
		</div>
	</div>


	</header>

</body>
{% endblock content %}