{% extends "layout.html" %}
{% block content %}

<body>
	<br><br><br><br><br><br><br><br><br>

	<div class="dim">
		<div class = "dim">
			<h4><p><a href="{{ url_for('viewList', type='world') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>World</b></a>
				<a href="{{ url_for('viewList', type='business') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Business</b></a>
				<a href="{{ url_for('viewList', type='health') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Health</b></a>
				<a href="{{ url_for('viewList', type='sci_tech') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Sci-Tech</b></a>
				<a href="{{ url_for('viewList', type='us') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>U.S.A.</b></a>
				<a href="{{ url_for('viewList', type='sport') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Sports</b></a>
				<a href="{{ url_for('viewList', type='entertainment') }}" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Entertainment</b></a>
				<a href="#" class="button-border hoverable waves-effect waves-light btn-small amber accent-2 black-text"><b>Other News</b></a>
			</p></h4>
		</div>
	</div>
	<hr><br><br><br>
	<div class="dimCat valign center-align">
		<span><h5 class="amber-text accent-2">Select a category. Be assured of authenticity.</h5></span>
	</div>


</body> <br><br><br><br>
{% endblock content %}