.dim
{
<<<<<<< HEAD
=======
    width: 80vw;
    display: block;
    top:0;
    left:0
    right:0;

}

.dimCat
{
>>>>>>> c04b94c1ddbdffe91ab0a281fa6c2c43dff4c220
    width: 65vw;
    display: block;
    top:0;
    left:0
    right:0;

}

.filter
{
    display: inline-grid;
    width: 70vw;
    top:0
    left:0
    text-align: center;

}
.footer
{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60px;   /* Height of the footer */
    text-align: center;
    list-style: none;
    margin: 0;

}

.topnav a
{
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover
{
  background-color: #b71c1c ;
}

.btn-large:hover
{
    background-color: #b71c1c ;
}

.button-border
{
    padding: 30px;
    border-radius: 50px;
}

.logPage
{
    width: 100vw;
    display: block;
    top:0;
    left:0;

}

.pg
{
    width: 100vw;
    display: block;
    top:0;
    left:0
    right:0;

}
